@{
    ViewData["Title"] = "Homologação";
}

    
    <h2>Bem Vindo ao setor de Homologação</h2>
    <p>Digite seus dados corretamente para que possa ser homologado no município.</p>
    <br />
  <form action="/home" method="post">
 <div class="form-group">
    <label for="exampleInputname">Nome Completo</label>
    <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Nome Completo do Aluno" required>
 </div> 
    <div class="form-group">
    <label for="exampleInputname">Nome Completo Responsável Legal</label>
    <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Nome Completo do Responsável" required>
 </div>  
    <div class="form-group">
    <label for="exampleInputEndereco">Endereço Completo</label>
    <input type="text" class="form-control" id="exampleInputEndereco" aria-describedby="enderecoHelp" placeholder="Endereco" required>
 </div>
    <div class="form-group">
    <label for="inputCEP">CEP</label>
    <input type="text" class="form-control" id="exampleInputCep" aria-describedby="nameHelp" placeholder="Cep" required>
 </div>
    <div class="form-group">
    <label for="exampleInputBairro">Bairro</label>
    <input type="text" class="form-control" id="exampleInputBairro" aria-describedby="bairroHelp" placeholder="Bairro" required>
 </div>
    <div class="form-group">
    <label for="inputCity">Cidade</label>
     <input type="text" class="form-control" id="exampleInputCity" aria-describedby="nameHelp" placeholder="CIDADE" required>
 </div>
    <div class="form-group">
    <label for="exampleInputEstado">Estado</label>
    <input type="text" class="form-control" id="exampleInputEstado" aria-describedby="estadoHelp" placeholder="Estado" required>
 </div>
    <div class="form-group">
    <label for="exampleInputPhone">Telefone</label>
    <input type="text" class="form-control" id="exampleInputTelefone" aria-describedby="emailHelp" placeholder="Seu Telefone" required>
  </div>
<div class="form-group">
    <label for="exampleInputPhone">Telefone para Recado</label>
    <input type="text" class="form-control" id="exampleInputTelefone" aria-describedby="emailHelp" placeholder="Telefone Recado" required>
  </div> 
 <div class="form-group">
    <label for="exampleInputEmail1">Endereço de email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email" required>
    
  </div>
   <br />
    <div class="form-group">
    <label for="exampleInputDate">Data de Nascimento</label>
    <input id="date" type="date" required>
  </div>
  <br />
 
        <p>Envie um documento com foto ou certidão de Nascimento(criança que não possui RG)</p>
        <input type="file" />

        <br>
        <p>Envie em comprovante de residância atual(máximo últimos três meses).</p>
        <p>comprovantes válidos: <br />LUZ, ÁGUA, IPTU, CONTA DE TELEFONE,<br />CONTRATO DE ALUGUEL/COMPRA REGISTRADO EM CARTÓRIO E CORRESPONDÊNCIA BANCÁRIA.</p>
        <input type="file" />
        <br />
        <br />
         <button>Enviar</button>
         </form>
        <br><br />
        <p><b>Informamos que todas as informações serão verificadas, para que a homologação seja efetuada.</b></p>
   
