@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: #4682B4"><b>e-Vaga</b></h1>
   <br />
    <br />
    
          <div class="inicio">
            <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2019/04/18/19/44/graduation-4137887_1280.jpg" alt="" style="height: 300px;width: 1300px;margin-left: 2%;">
          </div>
  <br />
    <p>Bem vindo à plataforma e-Vaga. Aqui você encontrará informações sobre vaga nas escolas do município, homologação e cadastros..</p>
    <p>Se você já possui homologação no município, clique na aba de cadastro para solicitar sua vaga.</p>
    <p>
        Não possui homologação? Clique na aba de homologação e faça seu cadastro.
        <br />
        <br />
        <fieldset style="border: 1px solid #A9A9A9; width:1100px; margin-left:2% ">
            <p><b>Por que preciso de homologação?</b></p>

            <p>A homologação é importante para que os munícipes possam ter acesso aos serviços da cidade.</p>

            <p>É através desse cadastro que os moradores passam a ter direito aos serviços de Educação, Saúde, Esporte e Assistência Social.</p>
        </fieldset>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        

</div>
