@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>Política de Privacidade</h2>
<br />

<p>Não compartilhamos seus dados.</p>
<p>Todos os dados coletados são utilizados exclusivamente para atender nossos munícipes.</p>
