@{
    ViewData["Title"] = "Secretaria De Educação";
}
<h2>Secretaria de Educação</h2>
<br />
<h5>Nossa Missão é transformar a socidade através da educação.</h5>
<br />
<h6>Nossa meta é oferecer a melhor educação do estado de São Paulo até 2025 e a melhor do Brasil até 2030.</h6>
<br />
<p>Escolar por Bairro:</p>
<ul>
    <h6>Centro</h6>
    <li>General Colaço</li>
    <li>Professora Ruth</li>
    <li>Professora Benedita Odete</li>
    <li>Curumim</li>
    <br />
    <h6>Fazendinha</h6>
    <li>Professor Imídeo</li>
    <li>Professora Leda Caira</li>
    <li>Algodão Doce</li>
    <li>Lua de Cristal</li>
    <li>Carlos Drumond</li>
    <br />
    <h6>Cidade São Pedro</h6>
    <li>Prefeito Bernardino Marques</li>
    <li>Deputado Ulysses Guimarães</li>
    <li>Cora Colalina</li>
    <li>Doutor Paulo Botelho</li>
    <li>Presidente Juscelino Kubtschek</li>
    <br />
    <h6>Colinas da Anhanguera</h6>
    <li>Vereador Reinaldo Santos</li>
    <li>Professor Manoel Ribeiro</li>
    <li>Professora Maria Clara</li>
    <li>Sonho Feliz</li>
    <br />
    <h6>Parque Santana</h6>
    <li>Doutor Alvaro Ribeiro</li>
    <li>Professor Aldônio Ramos</li>
    <li>Magia das Cores</li>
    <li>Mario Covas</li>
</ul>

